<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- =============================================
       Vistas Razor: configuración de compilación
       ============================================= -->

	<configSections>
		<sectionGroup name="system.web.webPages.razor"
					  type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup,
                        System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral,
                        PublicKeyToken=31BF3856AD364E35">

			<section name="host"
					 type="System.Web.WebPages.Razor.Configuration.HostSection,
                     System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral,
                     PublicKeyToken=31BF3856AD364E35"
					 requirePermission="false" />

			<section name="pages"
					 type="System.Web.WebPages.Razor.Configuration.RazorPagesSection,
                     System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral,
                     PublicKeyToken=31BF3856AD364E35"
					 requirePermission="false" />
		</sectionGroup>
	</configSections>

	<system.web.webPages.razor>
		<!-- Factoría Razor para MVC -->
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory,
                       System.Web.Mvc, Version=5.2.9.0, Culture=neutral,
                       PublicKeyToken=31BF3856AD364E35" />

		<!-- Todas las vistas heredan de WebViewPage -->
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<!-- Espacios de nombres comunes -->
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />

				<!-- LINQ -->
				<add namespace="System.Linq" />

				<!-- Modelos propios -->
				<add namespace="TaskManager.Web.Models" />

				<!-- Helpers de bundling/minificación (@Styles / @Scripts) -->
				<add namespace="System.Web.Optimization" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<!-- Sólo afecta a la *compilación* de las vistas (.cshtml) -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<!-- LINQ -->
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral,
                       PublicKeyToken=b77a5c561934e089" />

				<!-- dynamic / ViewBag -->
				<add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral,
                       PublicKeyToken=b03f5f7f11d50a3a" />
				
			</assemblies>
		</compilation>

		<httpRuntime targetFramework="4.7.2" />
	</system.web>
</configuration>
