<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- 1) Registra la sección Razor -->
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup,                         System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral,                         PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection,                      System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral,                      PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection,                      System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral,                      PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<!-- 2) AppSettings para deshabilitar WebPages si no lo necesitas -->
	<appSettings>
		<add key="webpages:Enabled" value="false" />
	</appSettings>

	<!-- 3) Cadena de conexión a PostgreSQL en Azure -->
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString=""
			 providerName="Npgsql" />
	</connectionStrings>

	<!-- 4) ASP.NET clásico: globalización + compilación + httpRuntime -->
	<system.web>
		<!-- 4.1) UTF-8 y cultura en español -->
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-ES" uiCulture="es-ES" />

		<!-- 4.2) Compilación y runtime -->
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<!-- Esta línea hace que Razor conozca netstandard.dll -->
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<!-- 5) Configuración del motor Razor MVC -->
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory,                        System.Web.Mvc, Version=5.2.9.0, Culture=neutral,                        PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="TaskManager.Web.Models" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<!-- 6) Módulos y handlers para IIS/IIS Express -->
	<system.webServer>
		<!-- ───────── IIS / IIS-Express ───────── -->
		<validation validateIntegratedModeConfiguration="false" />

		<!-- Todos los módulos de ASP.NET para cualquier petición -->
		<modules runAllManagedModulesForAllRequests="true" />

		<!-- Handler para rutas “sin extensión” (MVC, Web API, etc.) -->
		<handlers>
			<remove name="ExtensionlessUrl-Integrated-4.0" />
			<add  name="ExtensionlessUrl-Integrated-4.0"
				  path="*."
				  verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
				  type="System.Web.Handlers.TransferRequestHandler"
				  resourceType="Unspecified"
				  requireAccess="Script" />
		</handlers>

		<!-- Contenido estático (CSS, JS, imágenes, fuentes…) -->
		<staticContent>
			<!-- Evitamos duplicados y luego registramos el MIME por claridad -->
			<remove fileExtension=".svg"  />
			<remove fileExtension=".svgz" />

			<mimeMap fileExtension=".svg"  mimeType="image/svg+xml" />
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
		</staticContent>
	</system.webServer>




	<!-- 7) Binding redirects para Npgsql y sus dependencias -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
